
/* Your CSS Code here. */
table, td, th{
    border: 1px solid black;
    text-align: center;
    padding: 0.3rem;
    align-items: center;
    justify-content: center;
}
.bg{
    background-color: rgba(0, 0, 0, 0);
    color: white;
}